body{
    display: flex;
    flex-direction: column;

}
main{
    display: flex;
    flex-direction: row 2;
    width: auto;
    height: auto;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex-direction: row;
    flex: 1;
}
